*.html
*.pdf

# remove the workspace file in being there
.obsidian/workspace.json

#font size for systems
.obsidian/appearance.json

#git commit string
.obsidian/plugins/obsidian-git/data.json

#mac internal files
.DS_Store
